/*

  Animations

*/

// Sidebar 
.sidebar-appear {
  width: 0px;
  border: solid blue 2px;
}

.sidebar-appear.sidebar-appear-active {
  width: 500px;
  transition: all ease 1s;
}

.sidebar-enter {
  width: 0px;
}

.sidebar-enter.sidebar-enter-active {
  width: 500px;
  transition: all ease 1s;
}

.sidebar-leave {
  width: 500px;
}

.sidebar-leave.sidebar-leave-active {
  width: 0px;
  transition: all ease 1s;
}

// Project Form Tabs
.projectTabs-appear {
  @include transform(translateY(-100%));
}

.projectTabs-appear.projectTabs-appear-active {
  transition: all 0.8s ease;
  @include transform(translateY(0%));
}

.projectTabs-enter {
  @include transform(translateY(-100%));
}

.projectTabs-enter.projectTabs-enter-active {
  transition: all 0.8s ease;
  @include transform(translateY(0%));
}

.projectTabs-leave {
  @include transform(translateY(0%));
}

.projectTabs-leave.projectTabs-leave-active {
  transition: all 0.8s ease;
  @include transform(translateY(-100%));
}

// Gallery Slide
.gallerySlide-appear {
  opacity: 0;
  transition: all 0.8s ease;
}

.gallerySlide-appear.gallerySlide-appear-active {
  opacity: 1;
}

.gallerySlide-enter {
  @include transform(translateX(100%));
  transition: all 0.7s ease;
}

.gallerySlide-enter.gallerySlide-enter-active {
  @include transform(translateX(0%));
}

.gallerySlide-leave {
  @include transform(translateX(0%));
  transition: all 0.7s ease;
}

.gallerySlide-leave.gallerySlide-leave-active {
  @include transform(translateX(-100%));
}

// Bubble Up
.bubbleUp-appear {
  opacity: 0.01;
  @include transform(translateY(100%));
}

.bubbleUp-appear.bubbleUp-appear-active {
  opacity: 1;
  transition: all 0.8s ease;
  @include transform(translateY(0%));
  @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}

.bubbleUp-enter {
  opacity: 0.01;
  @include transform(translateY(100%));
}

.bubbleUp-enter.bubbleUp-enter-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
  @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }

}

.bubbleUp-leave {
  opacity: 1;
  @include transform(translateY(0%));
}

.bubbleUp-leave.bubbleUp-leave-active {
  opacity: 0.01;
  transition: all 1s ease;
  @include transform(translateY(-500%));
}


// Fade In
.fadeIn-appear {
  opacity: 0.01;
  transition: all 1s ease;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: all 1s ease;
}

.fadeIn-enter {
  opacity: 0.01;
  transition: all 1s ease;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: all 1s ease;
}

.fadeIn-leave {
  opacity: 1;
  transition: all 1s ease;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0;
}


// Project Slider
.projectSlide-appear {
  @include transform(translateX(100%));
}

.projectSlide-appear.projectSlide-appear-active {
  transition: all 2s ease;
  @include transform(translateX(0%));
}

.projectSlide-enter {
  @include transform(translateX(100%));
}

.projectSlide-enter.projectSlide-enter-active {
  transition: all 2s ease;
  @include transform(translateX(0%));
}

.projectSlide-leave {
  @include transform(translateX(0%));
}

.projectSlide-leave.projectSlide-leave-active {
  transition: all 2s ease;
  @include transform(translateX(-500%));
}
