/*

  Animations

*/

// Bubble Up
.bubbleUp-appear {
  opacity: 0.01;
  @include transform(translateY(100%));
}

.bubbleUp-appear.bubbleUp-appear-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}

.bubbleUp-leave {
  opacity: 0.01;
  @include transform(translateY(100%));
}

.bubbleUp-leave.bubbleUp-leave-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}

// Slide Left
.slideLeftIn-appear {
  opacity: 0.01;
@include flex(0px);}

.slideLeftIn-appear.slideLeftIn-appear-active {
  opacity: 1;
  transition: all 0.25s ease;
  @include flex(50px);
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.25s * $i); 
      }
  }
}

.slideLeftIn-enter {
  opacity: 0.01;
  @include flex(0px);
}

.slideLeftIn-enter.slideLeftIn-enter-active {
  opacity: 1;
  @include flex(50px);
  transition: all 1s ease;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.25s * $i); 
      }
  }
}


// Fade In
.fadeIn-appear {
  opacity: 0.01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: all 2s ease;
}
