/*

  Animations

*/

// Gallery Slide
.gallerySlide-appear {
  opacity: 0;
  transition: all 0.5s ease;
}

.gallerySlide-appear.gallerySlide-appear-active {
  opacity: 1;
}

.gallerySlide-enter {
  @include transform(translateX(100%));
  transition: all 0.7s ease;
}

.gallerySlide-enter.gallerySlide-enter-active {
  @include transform(translateX(0%));
}

.gallerySlide-leave {
  @include transform(translateX(0%));
  transition: all 0.7s ease;
}

.gallerySlide-leave.gallerySlide-leave-active {
  @include transform(translateX(-100%));
}

// Bubble Up
.bubbleUp-appear {
  opacity: 0.01;
  transition-delay: 3s;
  @include transform(translateY(100%));
}

.bubbleUp-appear.bubbleUp-appear-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}

.bubbleUp-enter {
  opacity: 0.01;
  transition-delay: 3s;
  @include transform(translateY(100%));
}

.bubbleUp-enter.bubbleUp-enter-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}

.bubbleUp-leave {
  opacity: 1;
  @include transform(translateY(0%));
}

.bubbleUp-leave.bubbleUp-leave-active {
  opacity: 0.01;
  transition: all 1s ease;
  @include transform(translateY(-500%));
}

// Slide Left
.slideLeft-appear {
  opacity: 0.01;
  @include align-self(flex-start);
  @include transition(all 1s ease);
}
.slideLeft-appear.slideLeft-appear-active {
  opacity: 1;
  margin-top: 0px;
  @include align-self(center);
  @include transition(all 1s ease);
  @for $i from 1 through 12 {
    &:nth-child(#{$i}) { 
     @include transition-delay(0.25s * $i); 
    }
  }
}

// Slide Up
.slideUp-appear {
  @include transform(translateY(100%));
}

.slideUp-appear.slideUp-appear-active {
  transition: all 1s ease;
  @include transform(translateY(0%));
}

// Fade In
.fadeIn-appear {
  opacity: 0.01;
  transition: all 0.5s ease;
  img {
    opacity: 0.01;
  }
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: all 0.5s ease;
  img {
    opacity: 1;
  }
}

.fadeIn-enter {
  opacity: 0.01;
  transition: all 0.5s ease;
  img {
    opacity: 0.01;
  }
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: all 0.5s ease;
  img {
    opacity: 1;
  }
}

.fadeIn-leave {
  opacity: 1;
  transition: all 0.5s ease;
  img {
    opacity: 1;
  }
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0;
  img {
    opacity: 0;
  }
}



// Project Element
.project-element-appear {
  opacity: 0.01;
  @include transform(translateY(10px));
}

.project-element-appear.project-element-appear-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
}

.project-element-enter {
  opacity: 0.01;
  transition: all 1s ease;
  @include transform(translateY(10px));
}

.project-element-enter.project-element-enter-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0px));
}

.project-element-leave {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0px));
}

.project-element-leave.project-element-leave-active {
  opacity: 0.01;
  transition: all 1s ease;
}
