/*

  Animations

*/

// Bubble Up
.bubbleUp-appear {
  opacity: 0.01;
  @include transform(translateY(100%));
}

.bubbleUp-appear.bubbleUp-appear-active {
  opacity: 1;
  transition: all 1s ease;
  @include transform(translateY(0%));
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
}


// Slide Left
.slideLeft-appear {
  opacity: 0.01;
  margin-top: 100px;
  @include transition(all 1s ease);
}
.slideLeft-appear.slideLeft-appear-active {
  opacity: 1;
  margin-top: 0px;
  @include transition(all 1s ease);
  @for $i from 1 through 7 {
    &:nth-child(#{$i}) { 
     @include transition-delay(0.25s * $i); 
    }
  }
}

// Slide Up
.slideUp-appear {
  @include transform(translateY(100%));
}

.slideUp-appear.slideUp-appear-active {
  transition: all 1s ease;
  @include transform(translateY(0%));
}

// Fade In
.fadeIn-appear {
  opacity: 0.01;
  transition: all 2s ease;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: all 2s ease;
}
