* {
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif;
}

html, body {
  height: auto;
  min-height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
  &.bullet {
    padding: 0px 30px;
    li {
      margin-bottom: 10px;
      list-style: disc;
    }
  }
}

.container {
  &.mw {
    max-width: 900px;
  }
}

p {
  color: #555;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.66em;
  line-height: 1.2em;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
   .highlight {
      color: #3A6877;
     a {
       color: #3A6877;
       &:hover {
        color: lighten(#3A6877, 20%); 
       }
     }
     &.light {
      color: lighten(#3A6877, 20%);
       a {
         color: lighten(#3A6877, 20%);
         &:hover {
            color: #3A6877;
         }
       }
     }
  }
}

h4 {
  margin: 0px;
  color: #333;
  font-size: 1.25em;
  line-height: 1.25em;
  .highlight {
      color: #3A6877;
     a {
       color: #3A6877;
       &:hover {
        color: lighten(#3A6877, 20%); 
       }
     }
     &.light {
      color: lighten(#3A6877, 20%);
       a {
         color: lighten(#3A6877, 20%);
         &:hover {
            color: #3A6877;
         }
       }
     }
  }
}

h5 {
  margin: 10px 0px;
}

hr {
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  margin: 10px 0px;
}