// buttons
.btns {
  padding: 60px 0px;
  display: none;
}

.btn {
  background: #333;
  color: $cream;
  padding: 16px 33px;
  border-radius: 7px;
  font-size: 0.8em;
  margin: 12px;
  line-height: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    background: #222;
  }
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;  
  }
}

.red-btn-outline {
  border: solid 2px $red;
  &:hover {
    background: rgba($red, 0.3);
      border: solid 2px $red;

  }
}

.confirm-btn-outline {
  color: #fff;
  border: solid 2px #fff;
   &:hover {
    color: #111;
    background: rgba($color-green, 1);
    border: solid 2px $color-green;
  }
}