.diagonals {
    height: 100%;
    width: 100%;
    padding: 0px 120px;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.diagonal {
    height: 60%;
    max-height: 550px;
    background-size: contain;
    background-position: center;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(#000, 0.25);
    display: block;
    outline: solid 1px transparent;
    overflow: hidden;
    margin-right: 10px;
    @include flex(75px 0);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include transform(skew(-15deg));
    @include transition(all ease 0.5s);
    @include transition-delay(0.7s);
    &:hover {
        box-shadow: 3px 3px 10px  5px rgba(#000, 0.3);
        z-index: 2;
        @include flex(100% 0);
        @include transform(skew(-15deg));
        @include transition-delay(0.1s);

        .background {
            @include transition-delay(0s);
            @include transform(skew(15deg) translateX(0%) scale(1.25));
        }

        .project-overlay {
            opacity: 1;
            @include transition-delay(0.7s);
        }
        .project-info {
            @include transform(skew(15deg) translateY(0%));
            @include transition-delay(0.7s);
        }
    }
    .project-overlay {
        opacity: 0;
        background: rgba(#000, 0.7);
        padding: 20px;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        right: 0px; top: 0px;
        @include transition(all ease 0.5s);
        @include transform(rotate(0deg));
        @include transition-delay(0.1s);
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
    }

    .background {
        position: absolute;
        left: -150px;
        min-height: 100%;
        min-width: 120%;
        @include transition(all ease 0.5s);
        @include transition-delay(0.7s);
        @include transform(skew(15deg));
    }

    .project-info {
        @include transition(all ease 0.5s);
        @include transform(skew(15deg) translateY(100%));
        @include transition-delay(0.3s);
        .logo {
            width: 66px;
            margin: 0px auto;
            display: block;
            padding: 0px;
        }
        h3 {
            color: #fff;
            text-align: center;
            text-shadow: 0px 2px 7px rgba(#000, 0.5);
        }

        ul {
            text-align: center;
            margin: 0px;
            padding: 0px;
            li {
                background: #fff;
                color: #666;
                display: inline-block;
                margin-right: 10px;
                border-radius: 7px;
                padding: 7px 15px;
                font-weight: 300;
                font-size: 0.9em;
                text-transform: uppercase;
            }
        }

        .btn {
            color: #222;
            background: $cream;
            text-decoration: none;
            text-align: center;
            font-weight: 700;
            font-size: 0.7em;
            padding: 0.5em;
            margin: 20px auto;
            display: block;
            &:hover {
                background: $cream;
                color: #000;
            }
        }
    }
}