.sidebar {
	form {
		padding-top: 120px;
	}
}

form {
	background: #222;
	padding:  20px 40px;
	color: #fff;
	box-shadow: 3px 3px 15px 0px rgba(#000, 0.2);
	@include display(flex);
	@include justify-content(space-between);
	@include flex-flow(row wrap);

	&.full-screen {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0; top: 0;
		z-index: 999;
	}

	h1, h3 {
		color: #fff;
		width: 100%;
		margin: 10px 0px 30px;
	}

	label {
		padding: 15px 0px 0px 0px;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-style: italic;
		color: #bbb;
		display: block;
	}

	input {
		display: block;
		margin-bottom: 15px;
		font-size: 0.9em;
		padding: 15px;
		width: 100%;
		border: solid 2px transparent;
		background: rgba(#000, 0.2);
		color: #eee;
		@include flex(1 0 100%);
		@include transition(all ease 0.3s);
		&:focus {
			border: solid 2px $color-green;
			//background: rgba(#fff, 0.08);	
			box-shadow: none;
			outline: none;
		}
	}

	textarea {
		display: block;
		height: 80px;
		border: solid 2px #333;
		background: rgba(#fff, 0.01);
		margin: 12px 0px;
		font-size: 1em;
		padding: 12px;
		color: #eee;
		border: solid 2px transparent;
		background: rgba(#000, 0.2);
		width: 100%;
		@include flex(1 0 100%);
		&:focus {
			border: solid 2px $color-green;
			box-shadow: none;
			outline: none;
		}
	}

	button {
		color: #fff;
		border: solid 2px #333;
		background: rgba(#fff, 0.01);
		padding: 12px;
		border-radius: 8px;
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 30px 0px 10px 0px;
		&:hover {
			border: transparent solid 2px;
			background: $color-blue;
		}
	}
}