.projects {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.project {
  height: 100%;
  width: 100%;
  @include display(flex);
  @include justify-content(center);
  @include align-items(stretch);

  .sidebar {
    width: 0px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 20px 10px rgba(#000, 0.5);
    @include flex(0 0 auto);
    @include transform(translateX(-100%));
    @include transition(all ease 0.7s);
    form {
      background: #111;
      border: none;
      padding: 100px 55px;
    }
    &.active {
      width: 500px;
      @include transform(translateX(0%));
      @include transition(all ease 0.7s);
    }
  }
}

.project-page {
  height: 100%;
  width: auto;
  overflow: auto;
  padding: 0px 50px;
  position: relative;
  @include transition(all ease 0.7s);
  @include flex(1 1 auto);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(flex-start);
  @include flex-flow(row no-wrap);
  @include bp(600px) {
    padding: 0px 0px;
  }

  h3 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
  }

  .project-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 0;
    background: #000;
    img {
      opacity: 0.3;
      width: 100%;
      min-height: 100%;
      height: auto;
    }
  }

  .project-overview {
    width: 100%; height: auto;
    max-width: 1024px;
    margin-top: 100px;
    margin-bottom: 70px;
    z-index: 1;
    position: relative;
    @include transition(all ease 0.7s);
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(center);
    @include flex-flow(row wrap);
    @include align-self(flex-start);

    header {
      width: 100%;
      padding: 0px 10px;
      position: relative;
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);

      .title {
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 4px;
        margin: 10px 0px;
        text-shadow: 0px 2px 7px rgba(#000, 0.5);
      }
    }

    main {
      @include display(flex);
      @include align-items(stretch);
      @include justify-content(center);
      @include flex-flow(row wrap);
      width: 100%;
      height: 100%;

      section {
        @include flex(3);
        position: relative;
        background: rgba(#111, 1);
        padding: 66px;
        h1 {
          color: #ccc;
        }
        p {
          color: #ccc;
        }
        hr {
          border-color: #333;
        }
        pre {
          color: lighten($color-blue, 20%);
        }
        span {
          color: red;
        }
        a {
          color: #ccc;
          &:hover {
            color: $color-green;
          }
        }

        ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
          li {
            display: inline-block;
            margin: 10px;
            border-radius: 3px;
            border: solid 1px #333;
            a {
              display: block;
              padding: 12px;
              text-decoration: none;
              background: rgba(#fff, 0.1);
              &:hover {
                background: rgba(#fff, 0.2);
              }
            }
          }
        }

      }

      aside {
        background: #333;
        padding: 70px;
        color: #aaa;
        position: relative;
        @include flex(1);

        p {
          color: #ccc;
        }

        ul {
          li {
          }
        }

        a {
          color: lighten($color-blue, 20%);
        }

      }
    }
  }

  .project-logo {
    width: 70px;
    padding: 15px;
    vertical-align: middle;
  }

  .project-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
    @include linear-gradient(rgba(#000, 0) 0%, rgba(#000, 1) 80%, $fallback: transparent);

    ul {
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
         border-bottom: solid 2px transparent;
         padding: 20px;
         margin-right: 20px;
        &:hover {
          border-bottom: solid 2px #fff;
        }

        &:first-child  {
          border-bottom: solid 2px $color-coral;
        }
      }
    }
    
  }
}

.project-bar {
  @include display(flex);
  height: 120px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  position: fixed;
  z-index: 1000;
  @include transform(translateY(80%));
  @include transition(all ease 1s);
  &:hover {
    li {
     @include transform(translateY(-33%));
    }
  }
  li {
    @include flex(1);
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    z-index: 2;
    height: 100px;
    list-style: none;
    overflow: hidden;
    @include transition(all ease 0.5s);
    img {
      max-width: 100%;
      min-height: 100%;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0; left: 0;
    }
    &:hover {
      @include transform(translateY(-80%));
      z-index: 9;
      img {
        opacity: 1;
        box-shadow: 0px 0px 15px 2px rgba(#000,0.5);
      }
    }
  }
}

// Tabs
.tabs {
  padding: 20px;
  background: rgba(#fff, 0.1);
  width: 100%;
  @include flex(1 0 100%);

  button {
    margin-right: 15px;
    &:last-child {
      margin-right: 0px;
    }
  }

  ul {
    @include display(flex);
    @include flex-flow(row wrap);
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      color: #fff;
      padding: 20px;
      background: rgba(#000, 0.5);
      //margin-right: 5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.7em;
      text-align: center;
      width: 33%;
      border: solid 1px rgba(#fff, 0.1);
      @include flex(1 0 auto);
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        background: rgba(#fff, 0.1);
      }
      &.active {
        border-radius: 5px;
        border: solid 2px rgba(#fff, 0.3);
      }
    }
  }

  section {
    padding: 20px 0px;
  }

}

// Gallery
.gallery {
  width: 100%;
  background: rgba(#000, 0.5);
  display: block;
  position: relative;
  overflow: hidden;
  @include flex(1 0 100%);
  @include display(flex);
  @include flex-flow(row wrap);
  @include align-items(stretch);
  @include justify-content(center);

  .gallery-image-track {
    width: 100%;
    height: 550px;
    overflow: hidden;
    @include bp(1400px) {
      height: 475px;
    }
    @include bp(666px) {
      height: 300px;
    }
    .gallery-image {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px;

      @include display(flex);
      @include flex-flow(row wrap);
      @include align-items(stretch);
      @include justify-content(center);
          img {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            position: relative;
          }
    }
  }

  .gallery-image-viewer {
    position: relative;
    @include flex(1 0 100%);
    @include display(flex no-wrap);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow(row no-wrap);
  }

  .gallery-image-thumbs {
    margin: 0px;
    background: rgba(#333, 1);
    padding: 0px;
    position: relative;

    @include flex(1 0 100%);
    @include display(flex);
    @include align-items(flex-start);
    @include align-content(flex-start);
    @include justify-content(flex-start);
    @include flex-flow(row wrap);
    @include bp(900px) {
      @include order(2);
    }

    .current-image-highlighter {
        border: solid rgba(#fff, 0.8) 3px;
        position: absolute;
        top: 0; left: 0px;
        height: 33px; width: 100px;
        box-shadow: 0px 0px 60px rgba(#fff, 0.5);
        z-index: 20;
        @include transition(all ease 0.5s);
         @include bp(600px) {
          //width: 25%;
        }
        @include bp(450px) {
          //width: 10%;
        }
    }

    .gallery-image {
      overflow: hidden;
      height: 33px;
      width: 100px;
      margin-right: 0px;
      cursor: pointer;
      @include align-self(flex-start);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include transition(all ease 0.2s);
      @include bp(600px) {
          @include flex(1 0 25%);
          height: 45px;
      }
      img {
        opacity: 0.33;
        width: 100%;
      }
      &:hover {
        background: #222;
      }
    }
  }

}

//OLD
.project-bubbles {
  opacity: 1;
  margin: 0px;
  padding: 0px;
  max-width: 1200px;
  @include display(flex);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  @include flex-flow(row wrap);
}

.project-bubble-wrap {
  height: 50px;
  width: 50px;
  @include flex(1 0 auto);
}

.project-bubble {
  height: 100%; width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  position: relative;
  z-index:1;
  box-shadow: 1px 1px 2px rgba(#333, 0.5);
  @include transition(all ease 0.5s);
  img {
    @include transition(all ease 0.5s);
  }
  img.bg {
   max-height: 100%;
   @include transform(scale(1.5));
   &.project {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
   }
  }
  img.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 2;
    @include transform(scale(1.1));
  }

  &:hover {
    box-shadow: 2px 3px 12px rgba(#333, 0.8);
    @include transform(translateY(-7px));
    @include transform(scale(1.02));
    img.bg {
      @include transform(scale(1));
    }
    img.logo {
      @include transform(scale(1.2));
    }
  }
}

.project-action-bar {
  background: $red;
  width: 100%;
  padding: 20px;
  font-weight: 700;
  @include display(flex);
  @include align-items(center);
  h3 {
    font-size: 1.3em;
  }
  button {
    background: #fff;
    color: $red;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 0.8em;
    padding: 12px 10px;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
    @include flex(1 0 auto);
    &.delete-btn {
      color: #fff;
      background: darken($red, 10%);
    }
    &:hover {
      background: $color-coral;
      color: #fff;
    }
  }
}


// Project bubbles in menu
#menu {
  .project-bubble-wrap {
    padding: 20px 10px;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    &:hover {
      background: rgba(#000, 0.33);
    }
  }
  .project-bubbles {
    background: rgba(#fff, 0.075);
    padding: 12px;
  }
  .project-bubble {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0px !important;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
      img.logo {
        @include flex(25px);
      } 
      img.bg {
        width: 100%;
        height: 100%;
      } 
    }
}

