.project-bar {
  @include display(flex);
  height: 20px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: 1000;
  @include transition(all ease 1s);
  &:hover {
    box-shadow: 0px 0px 25px 2px rgba(#000,0.5);
    @include transform(translateY(-800%));
    li {
     //@include transform(translateY(-66px));
    }
  }
  li {
    @include flex(1);
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    z-index: 2;
    @include transition(all ease 0.5s);
    @include transform(translateY(5px) scale(1));
    img {
      max-width: 100%; 
    }
    &:hover {
      @include transform(translateY(-100% ));
      z-index: 9;
      img {
        //border: solid 4px #fff;
        opacity: 1;
        box-shadow: 0px 0px 15px 2px rgba(#000,0.5);
      }
    }
  }
}

.project-page {
  height: 100%;
  padding: 100px 50px;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(flex-start);
  @include flex-wrap(wrap);

  h3 {
    color: #fff;
    margin: 0px;
    padding: 22px;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
  }

  .project-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background: #000;
    img {
      opacity: 0.3;
      width: 100%;
      min-height: 100%;
      height: auto;
    }
  }

  .project-overview {
    width: 100%; height: auto;
    max-width: 1200px;
    margin-bottom: 70px;
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(center);
    @include flex-flow(row wrap);
    @include align-self(flex-start);

    header {
      width: 100%;
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);

      .title {
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 4px;
        text-shadow: 0px 2px 7px rgba(#000, 0.5);
      }
    }

    main {
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(center);
      @include flex-flow(row wrap);

      h3 {
        padding: 70px 70px 10px 70px;
      }

      section {
        @include flex(3);
        background: rgba(#000, 0.85);
        p {
          padding: 30px 70px;
          line-height: 2em;
          color: #fff;
        }
      }

      aside {
        background: #333;
        padding: 70px;
        color: #aaa;
        line-height: 2em;
        @include flex(1);

        h3 {
          padding: 10px 0px;
        }
      }
    }
  }

  .project-logo {
    width: 70px;
    padding: 15px;
    vertical-align: middle;
  }

  .project-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
    @include linear-gradient(rgba(#000, 0) 0%, rgba(#000, 1) 80%, $fallback: transparent);

    ul {
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
         border-bottom: solid 2px transparent;
         padding: 20px;
         margin-right: 20px;
        &:hover {
          border-bottom: solid 2px #fff;
        }

        &:first-child  {
          border-bottom: solid 2px $color-coral;
        }
      }
    }
    
  }
}

.gallery {
  width: 100%;
  background: rgba(#000, 0.66);
  display: block;
  @include flex(2 0 100%);
  @include display(flex);
  @include align-items(stretch);
  @include justify-content(center);

  h3 {
    color: #fff;
    margin: 0px;
    padding: 10px!important;
    font-weight: 300;
    font-size: 1em;
  }

  .current-img {
    position: relative;
    @include flex(1 0 66%);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-flow(row wrap);
    img {
      margin: 0px auto;
      max-width: 100%;
      max-height: 700px;
      padding: 50px;
      position: relative;
    }

    .dots {
      display: block;
      width: 100%;
      margin: 0px;
      background: rgba(#111, 1);
      li {
        color: #fff;
        display: inline-block;
        padding: 15px 25px;
        position: relative;
        text-align: center;
        height: 50px; width: 50px;
        &:hover {
          background: #222;
        }
        &:first-child {
          background: #111;
        }
      }
    }
  }

  .gallery-image-thumbs {
    margin: 0px;
    padding: 25px;
    background: rgba(#000, 0.33);
    @include display(flex);
    @include align-items(flex-start);
    @include align-content(flex-start);
    @include justify-content(center);
    @include flex-flow(row wrap);

    .gallery-image {
      overflow: hidden;
      height: 100px;
      @include span-columns(4);
      @include align-self(flex-start);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      &:nth-child(3n) {
        @include omega;
      }
      img {
        padding: 10px;
        width: 100%;
      }
      &:hover {
        background: #222;
      }
    }
  }

}

//OLD
.project-bubbles {
  opacity: 1;
  margin: 0px;
  padding: 0px;
}

.project-bubble-wrap {
    @include span-columns(4);
    @include omega(3n);
    padding: 10px;
}

.project-bubble {
  height: 110px; width: 110px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index:1;
  box-shadow: 1px 1px 2px rgba(#333, 0.5);
  @include transition(all ease 0.5s);
  img {
    @include transition(all ease 0.5s);
  }
  img.bg {
   max-height: 100%;
   @include transform(scale(1.5));
   &.project {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
   }
  }
  img.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 2;
    @include transform(scale(1.1));
  }

  &:hover {
    box-shadow: 2px 3px 12px rgba(#333, 0.8);
    @include transform(translateY(-7px));
    @include transform(scale(1.02));
    img.bg {
      @include transform(scale(1));
    }
    img.logo {
      @include transform(scale(1.2));
    }
  }
}

// .project-page {
//   min-height: 100%;
//   height: auto;
//   width: 100%;
//   position: relative;
//   z-index: 99;

//   .bg {
//     width: 100%;
//     position: fixed;
//     top: 0; left: 0;
//     z-index: 0;
//     opacity: 0;
//     background: #333;
//     @include transition(all ease 1.5s);
//     &:after {
//       content: "";
//       background: #333;
//       width: 100%; height: 100%;
//       position: fixed;
//       top: 0; left: 0;
//     }
//   }
// }

// .project-sidebar {
//   background: #141414;
//   color: #fff;
//   position: fixed;
//   top: 0; left: 0;
//   height: 100%;
//   width: 366px;
//   box-shadow: 0px 0px 200px 140px rgba(#141414, 1);
//   z-index: 10;
//   @include transition(all ease 2s);
//   @include transform(translateX(-200%));
//   header {
//     height: 250px;
//     overflow: hidden;
//     position: relative;
//     @include display(flex);
//     .logo {
//       width: 70px;
//       height: 70px;
//       margin-left: 30px;
//       @include align-self(flex-end);
//     }
//     .bg {
//       position: absolute;
//       opacity: 0.3;
//       z-index: -1;
//     }
//     h1 {
//       margin: 0px 0px 15px 0px;
//       padding: 0px;
//       font-weight: 300;
//       text-transform: none;
//       text-shadow: 1px 1px 6px rgba(#000, 0.9);
//       @include align-self(flex-end);
//     }
//   }
//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 15px 0px;
//     width: 100%;
//     li {
//       font-size: 1.2em;
//       padding: 1.5em 50px;
//       width: 100%;
//       &:hover {
//         background: rgba(#000, 0.5);
//       }
//       span {
//         padding-bottom: 10px;
//       }
//       &:first-child {
//         span {
//           border-bottom: solid 3px #8DE7FF;
//         }
//       } 
//     }
//   }
//   h1 {
//     color: #fff;
//   }
// }

// section.project-content {
//   z-index: 100;
//   position: relative;
//   @include transform(translateY(100%));
//   @include transition(all ease 1.5s);
//   .container {
//     position: relative;
//     margin: 20px auto;
//     padding: 50px;
//     max-width: 850px;
//     img {
//       width: 100%;
//     }
//   }
//   p {
//     color: #fff;
//     line-height: 2em;
//   }
// }