.project-bubbles {
  opacity: 1;
  margin: 0px;
  padding: 0px;
}

.project-bubble-wrap {
    @include span-columns(4);
    @include omega(3n);
    padding: 10px;
}

.project-bubble {
  height: 110px; width: 110px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index:1;
  box-shadow: 1px 1px 2px rgba(#333, 0.5);
  @include transition(all ease 0.5s);
  img {
    @include transition(all ease 0.5s);
  }
  img.bg {
   max-height: 100%;
   @include transform(scale(1.5));
   &.project {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
   }
  }
  img.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 2;
    @include transform(scale(1.1));
  }

  &:hover {
    box-shadow: 2px 3px 12px rgba(#333, 0.8);
    @include transform(translateY(-7px));
    @include transform(scale(1.02));
    img.bg {
      @include transform(scale(1));
    }
    img.logo {
      @include transform(scale(1.2));
    }
  }
}

.project-page {
  padding-left: 366px;
  min-height: 100%;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 99;

  .bg {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 0;
    opacity: 0;
    background: #333;
    @include transition(all ease 1.5s);
    &:after {
      content: "";
      background: #333;
      width: 100%; height: 100%;
      position: fixed;
      top: 0; left: 0;
    }
  }
}

.project-sidebar {
  background: #141414;
  color: #fff;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 366px;
  box-shadow: 0px 0px 200px 140px rgba(#141414, 1);
  z-index: 10;
  @include transition(all ease 2s);
  @include transform(translateX(-200%));
  header {
    height: 250px;
    overflow: hidden;
    position: relative;
    @include display(flex);
    .logo {
      width: 70px;
      height: 70px;
      margin-left: 30px;
      @include align-self(flex-end);
    }
    .bg {
      position: absolute;
      opacity: 0.3;
      z-index: -1;
    }
    h1 {
      margin: 0px 0px 15px 0px;
      padding: 0px;
      font-weight: 300;
      text-transform: none;
      text-shadow: 1px 1px 6px rgba(#000, 0.9);
      @include align-self(flex-end);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 15px 0px;
    width: 100%;
    li {
      font-size: 1.2em;
      padding: 1.5em 50px;
      width: 100%;
      &:hover {
        background: rgba(#000, 0.5);
      }
      span {
        padding-bottom: 10px;
      }
      &:first-child {
        span {
          border-bottom: solid 3px #8DE7FF;
        }
      } 
    }
  }
  h1 {
    color: #fff;
  }
}

section.project-content {
  z-index: 100;
  position: relative;
  @include transform(translateY(100%));
  @include transition(all ease 1.5s);
  .container {
    position: relative;
    margin: 20px auto;
    padding: 50px;
    max-width: 850px;
    img {
      width: 100%;
    }
  }
  p {
    color: #fff;
    line-height: 2em;
  }
}