//Bourbon + Neat
@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "./node_modules/bourbon-neat/app/assets/stylesheets/neat";

// Utilities
@import "mixins";
@import "colors";
@import "animations";
@import "diagonals";
@import "forms";

// Main Styles
@import "base";
@import "header";
@import "projects";
@import "buttons";

#about-image {
  position: fixed; bottom: 0; right: -100px;
  z-index: -1;
  max-height: 100%;
  opacity: 0.7;
}

#background-smoke {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0; left: 0;
  z-index: -1;
}

section.split {
  @include display(flex);
  aside {
    padding: 10px;
    @include span-columns(6);
    &:first-child {
      border-right: 2px solid #222;
    }
  }
}

// T Svg
.svg-fill {
   @include transition(all ease 0.7s);
}
.light {
  .svg-fill {
      fill: #eee !important;
  }

  .letter {
    opacity: 1;
  }
}
.dark {
  .svg-fill {
      fill: #333;
  }
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  height: 100%;
  @include clearfix();
  &.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}

.app-window {
  height: 100%;
}

.projects {
  width: 100%;
  height: 100%;
}

.f-center {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  width: 100%;
}

.project-infobar {
  background: rgba(#000, 1);
  width: 100%;
  
  .view-site-btn {
    a {
      text-decoration: none;
      border-radius: 3px;
      padding: 12px 15px;
      margin: 0px 10px;
      &:hover {
        background: rgba(#fff, 0.1);
      }
      i{
        font-size: 1.5em;
        vertical-align: middle;
        margin-right: 12px;
      }
    }
  }
  
  span {
    color: #aaa;
    a {
      color: #aaa;
    }
  }
}

.tags {
    margin: 0px;
    padding: 20px;
    display: inline-block;
    li {
        background: #000;
        color: #ccc;
        display: inline-block;
        margin-right: 10px;
        border-radius: 3px;
        padding: 10px 15px;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 0.9em;
        position: relative;
        text-transform: uppercase;
        &:hover {
          background: #222;
          color: #fff;
          .project-bubbles {
            display: flex;
          }
          .project-bars {
            display: block;
          }
        }
        .project-bars {
          display: none;
          position: absolute;
          padding: 20px;
          background: #222;
          left: 0; top: 30px;
          z-index: 9;
        }
        .project-bubbles {
          width: 150px;
          background: #222;
          position: absolute;
          left: 0; top: 30px;
          z-index: 9;
          display: none;
           .project-bubble-wrap {
              padding: 20px 20px;
              @include flex(1 0 50%);
              @include display(flex);
              @include align-items(center);
              @include justify-content(center);
              &:hover {
                background: rgba(#000, 0.33);
              }
            }
            .project-bubbles {
              background: rgba(#fff, 0.075);
              padding: 6px;
            }
            .project-bubble {
              width: 33px;
              height: 33px;
              border-radius: 50%;
              padding: 0px !important;
              @include display(flex);
              @include align-items(center);
              @include justify-content(center);
                img.logo {
                  @include flex(25px);
                } 
                img.bg {
                  width: 100%;
                  height: 100%;
                } 
              }
        }
    }
}

// Grids
.half {
  width: 50%;
  padding-right: 13px;
}

.sidebar {
  height: 100%;
  background: rgba(#111, 0.96);
  @include flex(1 0 500px);
}

// util
.support-text {
  color: #ccc;
  padding: 10px;
  font-style: italic;
}
#active-window {
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
  &.active {
    width: 100%;
    height: 100%;
    border: solid 3px rgba(#fff, 0.33);
  }
}

.add-gallery-field {
  border: solid 1px transparent;
  border-radius: 2px;
  padding: 7px 10px;
  line-height: 2.5em;
  color: #eee;
  font-size: 0.8em;
  cursor: pointer;
  background: rgba(#fff, 0.1);
  text-transform: uppercase;
  &:hover {
    border: solid 1px $color-green;
    background: rgba(#fff, 0.12);
  }
}

[data-section].active {
  border: solid 4px $color-green;
  background: rgba(#fff, 0.3);
}

.thumb {
  width: 40px;
  height: 40px;
}

.flex {
  width: 100%;
  padding: 10px 0px;
  border-bottom: solid 2px #444;
  @include display(flex);
  @include align-items(center);

  input {
    width: auto;
    position: relative;
    margin: 0px;
    @include flex(1 0 auto);
  }

  img {
    height: 100%;
    margin-right: 8px;
  }

  .remove-btn {
    background: rgba(#fff, 0.1);
    color: #fff;
    width: 23px;
    height: 23px;
    font-size: 0.8em;
    @include flex-c;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: $red;
    }
  }
}

.project-bars {
  a {
    width: 100%;
    overflow: hidden;
    display: block;
    text-decoration: none;
    font-size: 0.8em !important;
    letter-spacing: 3px;
    padding: 3px 10px !important;
    padding-left: 40px !important;
    text-shadow: 2px 2px 2px rgba(#000, 1);
    @include transition(all ease 0.5s);
    span {
      color: #fff !important;
      @include transform(translateX(-100%));
    }
    .background {
      z-index: -1;
      @include transition(all ease 0.5s);
    }
    &:hover {
      span {
        @include transform(translateX(0));
      }
      color: #fff !important;
      .background {
        opacity: 0.33 !important;
        @include transform(scale(1.2));
      }
    }
  }
}


// Edit Project
.project-edit-tools {
  display: inline-block;
  li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    &:hover {
      background: rgba(#fff, 0.2);
    }
    img {
      width: 17px;
      height: 17px;
    }
  }
}
