@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";

$cream: #e9e4dc;
$red: #AC4040;

@mixin bp($point) {
    @media ($point)  { @content; }
}

* {
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif !important;
}

.btns {
  padding: 60px 0px;
  display: none;
}

.btn {
  background: #333;
  color: $cream;
  padding: 16px 33px;
  border-radius: 7px;
  font-size: 0.8em;
  margin: 12px;
  line-height: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    background: #222;
  }
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;  
  }
}

body {
 font-size: 18px;
}

#app {
  height: auto;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.66em;
  line-height: 1.2em;
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
   .highlight {
      color: #3A6877;
     a {
       color: #3A6877;
       &:hover {
        color: lighten(#3A6877, 20%); 
       }
     }
     &.light {
      color: lighten(#3A6877, 20%);
       a {
         color: lighten(#3A6877, 20%);
         &:hover {
            color: #3A6877;
         }
       }
     }
  }
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $cream;
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  padding: 50px;
  height: auto;
  @include clearfix();
  &.center {
    //@include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
  .projects-grid {
    @include clearfix();
  }
}

#about-image {
  position: absolute; bottom: 0; right: -100px;
  z-index: -1;
  max-height: 100%;
  opacity: 0.7;
}

#main {
    posiiton: fixed;
    top: 0; left: 0;
    height: 100px; width: 100%;
    padding: 40px;
    font-family: "Proxima Nova";
    font-weight: 700;
    @include display(flex);
  @include bp(600px) {
    display: none;
  }
    svg {
        height: 60px;
        width: 60px;
        padding: 16px;
    }
    
    #menu {
        height: 100%; width: auto;
        padding: 0px;
        line-height: 60px;
        color: #666;
        position: relative;
        &:hover {
          #menu-icon {
           @include transform(translateY(5px) translateX(-4px));
          }
            ul {
                display: block;
            }
            #Rectangle-1 {
               height: 10px;
               @include transform(rotate(50deg)  translateX(21px));
            }
            #Rectangle-2 {
               height: 10px;
               @include transform(rotate(-50deg) translateX(21px));
            }
            #Rectangle-3 {
                 @include transform(translateX(300px));
            }
        }
        #menu-icon {
            cursor: pointer;
            @include transition(transform ease 0.25s);
            #Rectangle-1 {
              @include transform-origin(center center);
              @include transition(all ease 0.5s);
            }
            #Rectangle-2 {
              @include transform-origin(center center);
              @include transition(all ease 0.5s);
            }
             #Rectangle-3 {
                 @include transition(all ease 0.5s);
            }
        }
        ul {
            position: absolute;
            width: auto;
            top: 60px; left: 0px;
            text-align: left;
            background: rgba(0,0,0,0.8);
            display: none;
            z-index: 100;
            li {
                font-weight: 700;
                line-height: 2.5em;
                font-size: 14px;
                white-space: nowrap;
                text-transform: uppercase;
                &:hover {
                    background: rgba(0,0,0,0.9);
                }
                a {
                  color: #fff;
                  display: block;
                  padding: 8px 80px 8px 20px;
                  text-decoration: none;
                }
            }
        }
    }
}

.project {
  float: left;
  img {
    width: 100%;
    border-radius: 200
  }
  &.large {
    width: 400px; height: 400px;
  }
  &.medium {
    width: 300px; height: 300px;
  }
  &.small {
    width: 200px; height: 200px;
  }
}

// Cursor
.typed-cursor{
    opacity: 1;
  font-weight: 300;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}