//Bourbon + Neat
@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "./node_modules/bourbon-neat/app/assets/stylesheets/neat";

// Utilities
@import "mixins";
@import "colors";
@import "animations";

// Main Styles
@import "base";
@import "header";
@import "projects";
@import "buttons";

// T Svg
.svg-fill {
   @include transition(all ease 1.5s);
}
.light {
  .svg-fill {
      fill: #fff !important;
  }
}
.dark {
  .svg-fill {
      fill: #333;
  }
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  height: 100%;
  @include clearfix();
  &.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}

.app-window {
  height: 100%;
}






