@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";

$cream: #e9e4dc;
$red: #AC4040;

$bgColor: cornflowerblue;

@mixin bp($point) {
    @media ($point)  { @content; }
}

* {
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif !important;
}

.container {
  &.mw {
    max-width: 900px;
  }
}

#thingy {
  position: absolute;
  top: 0; right: 30px;
  background: cornflowerblue;
  height: 100px; width: 100px;
  @include transition(all ease 1s);
  &.small {
    bottom: 0px; left: 10px;
    background: red;
    height: 50px; width: 500px;
  }
}

p {
  color: #666;
  line-height: 1.5em;
}

// T Svg
.svg-fill {
   @include transition(all ease 1.5s);
}
.light {
  .svg-fill {
      fill: #fff !important;
  }
}

.dark {
  .svg-fill {
      fill: #333;
  }
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  @include transition(background 1s ease);
}

.btns {
  padding: 60px 0px;
  display: none;
}

.btn {
  background: #333;
  color: $cream;
  padding: 16px 33px;
  border-radius: 7px;
  font-size: 0.8em;
  margin: 12px;
  line-height: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    background: #222;
  }
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;  
  }
}

#app {
  height: 100%;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.66em;
  line-height: 1.2em;
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
   .highlight {
      color: #3A6877;
     a {
       color: #3A6877;
       &:hover {
        color: lighten(#3A6877, 20%); 
       }
     }
     &.light {
      color: lighten(#3A6877, 20%);
       a {
         color: lighten(#3A6877, 20%);
         &:hover {
            color: #3A6877;
         }
       }
     }
  }
}

body {
  @include linear-gradient(top, #ddd, #fff);
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  //padding:  100px 50px 50px 50px;
  height: 100%;
  @include clearfix();
  &.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}

.app-window {
  height: 100%;
}

header#main {
    position: fixed;
    top: 0; left: 0;
    height: 100px; width: 100%;
    padding: 40px;
    font-family: "Proxima Nova";
    font-weight: 700;
    z-index: 999;
    @include display(flex);
    @include bp(600px) {
      display: none;
    }
    svg {
        height: 60px;
        width: 60px;
        padding: 16px;
    }

    
    #menu {
        height: 100%; width: auto;
        padding: 0px;
        line-height: 60px;
        color: #666;
        position: relative;
        &:hover {
          #menu-icon {
           @include transform(translateY(5px) translateX(-4px));
          }
            ul {
                display: block;
                list-style: none;
                padding: 0px;
            }
            #Rectangle-1 {
               height: 10px;
               @include transform(rotate(50deg)  translateX(21px));
            }
            #Rectangle-2 {
               height: 10px;
               @include transform(rotate(-50deg) translateX(21px));
            }
            #Rectangle-3 {
                 @include transform(translateX(300px));
            }
        }
        #menu-icon {
            cursor: pointer;
            @include transition(transform ease 0.25s);
            #Rectangle-1 {
              @include transform-origin(center center);
              @include transition(all ease 0.5s);
            }
            #Rectangle-2 {
              @include transform-origin(center center);
              @include transition(all ease 0.5s);
            }
             #Rectangle-3 {
                 @include transition(all ease 0.5s);
            }
        }
        ul {
            position: absolute;
            width: auto;
            top: 50px; left: 0px;
            text-align: left;
            background: rgba(whitesmoke,0.9);
            display: none;
            z-index: 100;
            li {
                font-weight: 700;
                line-height: 2.5em;
                font-size: 14px;
                white-space: nowrap;
                text-transform: uppercase;
                &:hover {
                    background: rgba(white, 0.9);
                }
                a {
                  color: #333;
                  font-weight: 300;
                  display: block;
                  padding: 20px 100px 20px 40px;
                  text-decoration: none;
                }
            }
        }
    }
}

.project-bubbles {
  opacity: 0;
  @include transition(all ease 1.5s);
}

.project-bubble {
  height: 133px; width: 133px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  z-index:1;
  box-shadow: 1px 1px 2px rgba(#333, 0.5);
  @include transition(all ease 1.5s);
  @for $i from 1 through 9 {
      &:nth-child(#{$i}) { 
       @include transition-delay(0.2s * $i); 
      }
  }
  img {
    @include transition(all ease 0.5s);
  }
  img.bg {
   max-height: 100%;
   @include transform(scale(1.2));
   &.project {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
   }
  }
  img.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 2;
    @include transform(scale(1.1));
  }

  &:hover {
    box-shadow: 2px 3px 12px rgba(#333, 0.8);
    @include transform(translateY(-7px));
    @include transform(scale(1.02));
    img.bg {
      @include transform(scale(1));
    }
    img.logo {
      @include transform(scale(1.2));
    }
  }
}

.project-page {
  padding-left: 366px;
  min-height: 100%;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 99;

  .bg {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 0;
    opacity: 0;
    background: #333;
    @include transition(all ease 1.5s);
    &:after {
      content: "";
      background: #333;
      width: 100%; height: 100%;
      position: fixed;
      top: 0; left: 0;
    }
  }
}

.project-sidebar {
  background: #141414;
  color: #fff;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 366px;
  box-shadow: 0px 0px 200px 140px rgba(#141414, 1);
  z-index: 10;
  @include transition(all ease 2s);
  @include transform(translateX(-200%));
  header {
    height: 250px;
    overflow: hidden;
    position: relative;
    @include display(flex);
    .logo {
      width: 70px;
      height: 70px;
      margin-left: 30px;
      @include align-self(flex-end);
    }
    .bg {
      position: absolute;
      opacity: 0.3;
      z-index: -1;
    }
    h1 {
      margin: 0px 0px 15px 0px;
      padding: 0px;
      font-weight: 300;
      text-transform: none;
      text-shadow: 1px 1px 6px rgba(#000, 0.9);
      @include align-self(flex-end);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 15px 0px;
    width: 100%;
    li {
      font-size: 1.2em;
      padding: 1.5em 50px;
      width: 100%;
      &:hover {
        background: rgba(#000, 0.5);
      }
      span {
        padding-bottom: 10px;
      }
      &:first-child {
        span {
          border-bottom: solid 3px #8DE7FF;
        }
      } 
    }
  }
  h1 {
    color: #fff;
  }
}

section.project-content {
  z-index: 100;
  position: relative;
  @include transform(translateY(100%));
  @include transition(all ease 1.5s);
  .container {
    position: relative;
    margin: 20px auto;
    padding: 50px;
    max-width: 850px;
    img {
      width: 100%;
    }
  }
  p {
    color: #fff;
    line-height: 2em;
  }
}


