//Bourbon + Neat
@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "./node_modules/bourbon-neat/app/assets/stylesheets/neat";

// Utilities
@import "mixins";
@import "colors";
@import "animations";
@import "diagonals";
@import "forms";

// Main Styles
@import "base";
@import "header";
@import "projects";
@import "buttons";

#about-image {
  position: fixed; bottom: 0; right: -100px;
  z-index: -1;
  max-height: 100%;
  opacity: 0.7;
}

#background-smoke {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0; left: 0;
  z-index: -1;
}

section.split {
  @include display(flex);
  aside {
    padding: 10px;
    @include span-columns(6);
    &:first-child {
      border-right: 2px solid #222;
    }
  }
}

// T Svg
.svg-fill {
   @include transition(all ease 0.7s);
}
.light {
  .svg-fill {
      fill: #ccc !important;
  }

  .letter {
    opacity: 1;
  }
}
.dark {
  .svg-fill {
      fill: #333;
  }
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  height: 100%;
  @include clearfix();
  &.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}

.app-window {
  height: 100%;
}

.projects {
  width: 100%;
  height: 100%;
}

.f-center {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  width: 100%;
}

.tags {
    text-align: center;
    margin: 0px;
    padding: 0px;
    li {
        background: #fff;
        color: #222;
        display: inline-block;
        margin-right: 10px;
        border-radius: 8px;
        padding: 8px 15px;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 0.7em;
        text-transform: uppercase;
    }
}

// Grids
.half {
  width: 50%;
  padding-right: 13px;
}

.sidebar {
  height: 100%;
  background: rgba(#000, 0.8);
  @include flex(1 0 500px);
}

// util
.support-text {
  color: #ccc;
  padding: 10px;
  font-style: italic;
}
#active-window {
  border: none;
  background: rgba(#fff, 0.3);
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
  &.active {
    width: 100%;
    height: 100%;
    border: solid 1px $color-green;
    box-shadow: 0px 0px 20px 2px rgba(#000, 0.25);
    background: rgba(#fff, 0.025);
  }
}

.add-gallery-field {
  background: $color-blue;
  border: none;
  border-radius: 50%;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  color: #fff;
  height: 30px; width: 30px;
  cursor: pointer;
  &:hover {
    background: darken($color-blue, 15%);
    color: #fff;
  }
}

[data-section].active {
  border: solid 4px $color-green;
  background: rgba(#fff, 0.3);
}

.thumb {
  width: 40px;
  height: 40px;
}

.flex {
  width: 100%;
  @include display(flex);
  @include align-items(stretch);

  input {
    width: auto;
    @include flex(1 0 auto);
  }

  img {
    padding: 7px;
    margin-right: 10px;
  }

  .remove-btn {
    background: $red;
    color: #fff;
    width: 23px;
    height: 23px;
    font-size: 0.8em;
    @include flex-c;
    &:hover {
      background: $color-coral;
    }
  }
}


// Edit Project
.project-edit-tools {
  display: inline-block;
  li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    &:hover {
      background: rgba(#fff, 0.2);
    }
    img {
      width: 17px;
      height: 17px;
    }
  }
}
