//Bourbon + Neat
@import "./bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "./node_modules/bourbon-neat/app/assets/stylesheets/neat";

// Utilities
@import "mixins";
@import "colors";
@import "animations";
@import "diagonals";
@import "forms";

// Main Styles
@import "base";
@import "header";
@import "projects";
@import "buttons";

#about-image {
  position: fixed; bottom: 0; right: -100px;
  z-index: -1;
  max-height: 100%;
  opacity: 0.7;
}

#background-smoke {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0; left: 0;
  z-index: -1;
}

section.split {
  @include display(flex);
  aside {
    padding: 10px;
    @include span-columns(6);
    &:first-child {
      border-right: 2px solid #222;
    }
  }
}

// T Svg
.svg-fill {
   @include transition(all ease 0.7s);
}
.light {
  .svg-fill {
      fill: #fff !important;
  }

  .letter {
    opacity: 1;
  }
}
.dark {
  .svg-fill {
      fill: #333;
  }
}

#scene {
  width: 500px;
  height: 500px;
}

#app-window {
  height: 100%;
  @include clearfix();
  &.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}

.app-window {
  height: 100%;
}

.projects {
  width: 100%;
  height: 100%;
}

.f-center {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  width: 100%;
}

.tags {
    text-align: center;
    margin: 0px;
    padding: 0px;
    li {
        background: #fff;
        color: #666;
        display: inline-block;
        margin-right: 10px;
        border-radius: 7px;
        padding: 7px 15px;
        font-weight: 300;
        font-size: 0.9em;
        text-transform: uppercase;
    }
}

// Grids
.half {
  width: 50%;
  padding-right: 13px;
}


.sidebar {
  //position: fixed; 
  //top: 0; left: 0;
  width: 400px;
  height: 100%;
  background: #111;
  @include flex(1 0 450px);
}
